<app-card-container>
  <!-- Header -->
  <ng-container header>
    <p-button icon="pi pi-chevron-left" (onClick)="onBack()" severity="secondary" />
    <div class="flex gap-4">
      <div class="flex flex-col gap-2 flex-1 justify-between">
        <div class="text-2xl leading-tight font-semibold text-surface-900">
          {{ isEditMode() ? 'Editar Produto' : 'Adicionar Produto' }}
        </div>
        <div class="text-base leading-tight text-surface-500">
          Preencha os dados do produto abaixo
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Body -->
  <ng-container body>
    @if (loading()) {
    <div class="flex justify-center align-center h-20">
      <p-progressSpinner></p-progressSpinner>
    </div>
    } @else {
    <app-product-form
      [selectedProduct]="currentProduct()"
      (submitProduct)="onSubmitProduct($event)"
      (deleteProduct)="onDeleteProduct($event)"
    />
    }
  </ng-container>
</app-card-container>
